*, *:before, *:after {
    box-sizing: border-box;
    border: none;
}

:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}

body {
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}



.products-list {
    display: grid;
    grid-row-gap: 30px;
    grid-gap: 30px;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
    grid-auto-rows: auto;
    padding: 40px 20px;
    text-align: center;
}

.products-list .product:hover {
   cursor: pointer;
}

.products-list .product{
    width: 100%;
    display: block;
    height: auto;
    padding: 3px;
}

.products-list .product-body{
    border: 1px solid #707070;
    background: #fff;
    border-radius: 60px;
    display: block;
    z-index: 1000;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    height: 100%;
    min-height: 350px;
    padding: 20px;
    padding-bottom: 60px;
}

.products-list .product .item-images {
    width: 100%;
    height: 180px;
    display: block;
    position: relative;
}

.products-list .product .item-images img {
    width: auto;
    max-width:270px;
    height: 180px;
    z-index: 1;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.products-list .product .item-body{
    display: block;
    padding: 10px;
}

.products-list .product .item-footer {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.products-list .product .item-body .item-title h3{
    font-family: Segoe UI Semibold,sans-serif;
    color: #73b629;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0 10px 0;
}

.products-list .product .item-body .item-price{
    font-family: Segoe UI Semibold,sans-serif;
    color: #73b629;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


.products-list .product .item-footer .item-rating{
    color: #b14916;
}


.product-select
{
    position: relative;
    z-index: 1;
    margin: -50px 0 0 0;
    cursor: pointer;

}

.product-select .product-dropdown {
    background:#73b629 ;
    border-radius: 0 0 80px 80px;
    border: 1px solid #707070;
    color: #000;
    margin: 0 auto;
    width: 95%;
    position: relative;
    height: 100px;
    bottom: 5px;
    text-align: center;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: block;
    visibility: hidden;
}

.product-select .product-dropdown p {
    margin: 60px 0 0 0;
    color: #fff;
    font-family: Segoe UI Semibold,sans-serif;
}

.product-select .dropdown-add .issue {
    display: none;
}

.product-select .dropdown-add {
    display: block;
    visibility: visible;
}

.product-select .dropdown-add .add {
    font-family: Segoe UI Regular,sans-serif;
    display: block;
    color:#707070;
    font-size: 14px;
}

.product-select .dropdown-add .add .round-icon {
    background: #fefce7;
    font-size: 12px;
    font-style: normal;
    position: absolute;
    border-radius: 50%;
    padding: 0 8px;
    border: 1px solid #707070;
}

.product-select .dropdown-add .add .indentation {
    display: inline-block;
    margin-left: 25px;
}

.product-select .dropdown-add {
    background: #e7c7b8;
}

.product-dropdown .add {
    display: none;
}

.product:hover  .product-select .product-dropdown {
    display: block;
    visibility: visible;
}



/* basket */

.static-basket-block{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #fff;
    position:fixed;
    right: 15px;
    bottom: 15px;
    text-align: center;
    z-index: 1000000000;
}

.static-basket-block:hover{
    cursor: pointer;
    background: #b14916;
}

.static-basket-block:hover .basket-icon-block{
    cursor: pointer;
    color: #ffffff;
}

.basket-icon-block{
    font-size: 32px;
    color: #b14916;
    padding-top: 10px;
}

.static-basket-block .basket-count{
    color: #fff;
    background: #73b629;
    font-size: 12px;
    font-family: Segoe UI bold,sans-serif;
    float: right;
    position: absolute;
    text-align: center;
    font-style: normal !important;
    border-radius: 60px;
    line-height: 22px;
    width: 22px;
    height: 22px;
    right: -5px;
    top:-5px;
}

.static-basket-block i{
    font-style: normal !important;
}

a.static-basket-block{
    text-decoration: none;
}

a.static-basket-block:hover{
    text-decoration: none;
}



.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    z-index: 100000;
}



.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.shopping-cart .close-button{
     display: block;
     position: absolute;
     right: 20px;
     top: 20px;
 }

.shopping-cart .close-button:hover{
    cursor: pointer;
}

.item {
    background: #f9f9f9;
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

.item:first-child {
    border-top:  1px solid #b14916;
}

.item {
    border-bottom:  1px solid #b14916;
}

/* Buttons -  Delete and Like */
.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.delete-btn {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: url("../images/delete-icn.svg") no-repeat center;
    margin-right: 20px;
}


.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
}

/* Product Image */
.image {
    margin-right: 50px;
    width: 60px;
    height: 60px;
}

.image img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

/* Product Description */
.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

/* Product Quantity */
.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.total-block {
    border-top: 1px solid #b14916;
    display: block;
    height:100%;
    width: 100%;
    padding: 10px 20px;
    background: #f9f9f9;
}

.total-block p.amount-name {
    margin: 0;
    float: left;
    font-size: 24px;
    font-family: Segoe UI bold,sans-serif;
    color: #707070;
}

.total-block p.amount-price {
    margin: 0;
    float: right;
    font-size: 24px;
    font-family: Segoe UI bold,sans-serif;
    color:#b14916;
}

button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
}
button:focus,
input:focus {
    outline:0;
}

/* Total Price */
.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

/* Responsive */
@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: -20px;
        padding: 20px 0;
    }
}

.info{
    color: #004085 !important;
    background-color: #cce5ff !important;
    border-color: #b8daff !important;
}

.error{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}